@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@font-face {
  font-family: Apex;
  src: url(./library/paeu-lib/BeVietnam-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Apex;
  position: relative;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
}
section {
  padding: 100px;
}
/* --------------------------------NAV */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  outline: none;
}
header.sticky .logo {
  color: #111;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 2px;
}
header ul li a:hover,
header ul li a:active {
  transition: 0.5s;
  background: yellowgreen;
}
header.sticky ul li a {
  color: #111;
}
/* --------------------------------BANNER */
.banner {
  position: relative;
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}
.banner .blur {
  z-index: -1;
  width: 100%;
  height: 101%;
  background: url(./img/pexels-pixabay-220444.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  position: absolute;
  top: 0;
  left: 0;
}
.btn {
  position: relative;
  background: yellowgreen;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.btn:hover {
  background-color: rgb(157, 235, 2);
}

/* -------------------------------ABOUT */
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content-box {
  padding-right: 30px;
}
.content-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.w50 {
  min-width: 50%;
}
img {
  max-width: 100%;
}

/* --------------------------skill */
.skill {
  background: #111;
}
.heading.white {
  color: #fff;
}
.skill .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.skill .content .skill-box {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.skill .content .skill-box:hover {
  background: #fff;
  color: #111;
}
.skill .content .skill-box img {
  max-width: 80px;
}
#img-end {
  filter: invert(1);
}
.skill .content .skill-box h2 {
  font-size: 20px;
  font-weight: 600;
}

/* ----------------------WORK */
.work .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work .content .work-box {
  width: 50%;
  padding: 20px;
}
.work .content .work-box img {
  max-width: 100%;
}

/* ------------------------TESTIMONIAL */
.testimonials {
  background: #dbdbdb;
}
.testimonials .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testimonials .content .testimonials-box {
  max-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background: yellowgreen;
}
.testimonials .content .testimonials-box p {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}
.testimonials .content .testimonials-box h3 {
  margin-top: 40px;
  text-align: end;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
}
.testimonials .content .testimonials-box h3 span {
  font-size: 14px;
  font-weight: 400;
}

/* --------------------CONTACT */
.contact {
  background: #111;
}
.form-box {
  min-width: 60%;
}
.form-box form {
  display: flex;
  flex-direction: column;
}
.form-box form h3,
.contact-info h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-box form input,
.form-box form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #222;
  color: white;
}
.form-box form textarea {
  min-height: 200px;
  resize: none;
}
.form-box form input::placeholder,
.form-box form textarea::placeholder {
  color: #999;
}
.form-box form input[type="submit"] {
  max-width: 100px;
  background: yellowgreen;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-info {
  min-height: 40%;
}
.contact-info-box {
  position: relative;
}
.contact-info-box .box {
  display: flex;
  position: relative;
  padding: 20px 0;
}
.contact-info-box .box .icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  font-size: 24px;
}
.contact-info-box .box .text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 300;
  color: #fff;
}
.contact-info-box .box .text h3 {
  font-weight: 500;
  color: yellowgreen;
  margin-bottom: 0;
}

/* ------------------------------COPYRIGHT */
.copyright {
  background: black;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* ============================================================================================================== */
/* ----------------------------------RESPONSIVE------------------------------------------------------------------ */
/* ============================================================================================================== */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 80px;
    right: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    right: 0;
  }
  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  header ul li a:active {
    background: yellowgreen;
  }
  header.sticky .toggle {
    filter: invert(0);
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(./img/icon/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    transition: 0.2s;
    filter: invert(1);
  }
  .toggle.active {
    background: url(./img/icon/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
    transition: 0.2s;
    filter: invert(1);
  }
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .btn:active {
    background-color: rgb(157, 235, 2);
  }
  .heading h2 {
    font-weight: 24px;
  }
  .content {
    flex-direction: column;
  }
  .content-box h3 {
    font-size: 20px;
  }
  .w50 {
    margin-bottom: 20px;
  }
  .skill .content .skill-box {
    margin: 10px;
  }
  .work .content .work-box {
    width: 100%;
    padding: 0 0 10px 0;
  }
  .testimonials .content .testimonials-box {
    max-width: calc(100% - 0px);
    padding: 20px 20px;
    margin: 0 0 10px 0;
  }
  .testimonials .content .testimonials-box h3 {
    margin-top: 10px;
  }
}
