@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@font-face {
	font-family: Apex;
	src: url(/assets/library/paeu-lib/BeVietnam-Medium.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Apex;
	position: relative;
	scroll-behavior: smooth;
}
body::-webkit-scrollbar {
	width: 0;
}
a {
	text-decoration: none;
}
section {
	padding: 100px;
	overflow: hidden;
}
.bg-red {
	background-color: #dd2f2f;
}
.bg-green {
	background-color: #05c405;
}
.bg-yellow {
	background-color: #ecc100;
}
:root {
	--tw-ring-inset: 0;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(255, 255, 255);
	--tw-ring-offset-shadow: 0 0 rgba(255, 255, 255, 0.11);
	--tw-ring-shadow: 0 0 rgba(255, 255, 255, 0.171);
	--tw-shadow: 0 0 rgba(255, 255, 255, 0.185);
}
/* ------------------------------TOAST */
#toast {
	visibility: hidden;
	max-width: 50px;
	height: 50px;
	margin: auto;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 30px;
	font-size: 17px;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#toast #img {
	width: 50px;
	height: 50px;
	float: left;
	color: #fff;
}
#toast #img i {
	width: 100%;
	height: 100%;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#toast #desc {
	height: 100%;
	color: #fff;
	padding: 0 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
}

#toast.show {
	visibility: visible;
	z-index: 100;
	-webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s,
		shrink 0.5s 2s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
		fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes expand {
	from {
		min-width: 50px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes expand {
	from {
		min-width: 50px;
	}
	to {
		min-width: 350px;
	}
}
@-webkit-keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}
@-webkit-keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 60px;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 60px;
		opacity: 0;
	}
}
/* --------------------------------NAV */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
header.sticky {
	background: #fff;
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;
	outline: none;
}
header.sticky .logo {
	color: #111;
}
header .logo span {
	color: #fff;
	background: linear-gradient(to right, #3ab493 0%, #0055ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header.sticky .logo span {
	color: #111;
}
header ul {
	position: relative;
	display: flex;
}
header ul li {
	position: relative;
	list-style: none;
}
header ul li a {
	position: relative;
	display: inline-block;
	margin: 0 15px;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 2px;
	white-space: nowrap;
}
header ul li a:hover,
header ul li a:active {
	transition: 0.5s;
	background: yellowgreen;
}
header.sticky ul li a {
	color: #111;
}
/* --------------------------------BANNER */
.banner {
	position: relative;
	min-height: 100vh;
	background: #0f1624;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner .text-box {
	position: relative;
	z-index: 2;
}
.context {
	display: flex;
}
.context span.finished + .typed-cursor {
	opacity: 0;
	font-size: 0;
}
.typed-cursor {
	color: #fff;
	display: flex;
	align-items: flex-end;
	font-size: 30px;
}
.context:nth-child(2) .typed-cursor {
	color: #3ab493;
}
.banner h2 {
	font-size: 3em;
	color: #fff;
	font-weight: 500;
	line-height: 1.5em;
}
.banner h2 span {
	font-size: 1.5em;
	font-weight: 700;
	color: #3ab493;
}
.banner h3 {
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
}
.banner .blur {
	z-index: 1;
	width: 500px;
	height: 500px;
	background: url(/assets/img/bgbanner.svg);
	background-size: contain;
	background-position: right;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}
.btn {
	position: relative;
	background: #ffffff;
	display: inline-block;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	transition: all 0.3s ease-in-out;
	transform: translate(5px, -5px);
	box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 0.486);
	border: 2px solid transparent;
}
.btn-2 {
	box-shadow: -5px 5px 0px 0px #3ab49394;
	background: #3ab493;
}
.btn a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	background: linear-gradient(to right, #3ab493 0%, #0f1624 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.btn-2 a {
	background: linear-gradient(to right, #6ee6c6 0%, #fff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.btn:hover {
	transform: translate(0, 0);
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.486);
}
.btn-2:hover {
	transform: translate(0, 0);
	box-shadow: 0px 0px 0px 0px #3ab49394;
}

/* -------------------------------ABOUT */
.heading {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}
.heading h2 {
	font-weight: 600;
	font-size: 30px;
}
.content {
	display: flex;
	justify-content: space-between;
}
.content-box {
	padding-right: 30px;
}
.content-box h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.w50 {
	min-width: 50%;
}
img {
	max-width: 100%;
}

/* --------------------------skill */
.skill {
	background: #111;
}
.heading.white {
	color: #fff;
}
.skill .content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.skill .content .skill-box {
	padding: 40px 20px;
	background: #222;
	color: #fff;
	max-width: 340px;
	margin: 20px;
	text-align: center;
	transition: 0.5s;
}
.skill .content .skill-box:hover {
	background: #fff;
	color: #111;
}
.skill .content .skill-box img {
	max-width: 80px;
}
.skill .content .skill-box h2 {
	font-size: 20px;
	font-weight: 600;
}

/* ----------------------WORK */
.work .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.work .content .work-box {
	width: 50%;
	padding: 20px;
}
.work .content .work-box img {
	max-width: 100%;
}
.work .content-slide {
	width: 992px;
	height: 550px;
	margin: 0 auto;
}
.work .content-slide .swiper-work {
	width: 100%;
	height: 100%;
}
.work .content-slide .swiper-work .swiper-slide {
	width: 100%;
	height: 100%;
}
.work .content-slide .swiper-work .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* ------------------------TESTIMONIAL */
.testimonials {
	background: #dbdbdb;
}
.testimonials .content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.testimonials .content .testimonials-box {
	max-width: calc(50% - 40px);
	padding: 60px 40px;
	margin: 20px;
	background: #3ab493;
}
.testimonials .content .testimonials-box p {
	color: #fff;
	font-style: italic;
	font-size: 16px;
	font-weight: 300;
}
.testimonials .content .testimonials-box h3 {
	margin-top: 40px;
	text-align: end;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	line-height: 1em;
}
.testimonials .content .testimonials-box h3 span {
	font-size: 14px;
	font-weight: 400;
}

/* --------------------CONTACT */
.contact {
	background: #111;
}
.form-box {
	min-width: 60%;
}
.form-box form {
	display: flex;
	flex-direction: column;
}
.form-box form h3,
.contact-info h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

.form-box form input,
.form-box form textarea {
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	background: #222;
	color: white;
}
.form-box form textarea {
	min-height: 200px;
	resize: none;
}
.form-box form input::placeholder,
.form-box form textarea::placeholder {
	color: #999;
}
.form-box form .send-message {
	max-width: 100px;
	background: #3ab493;
	box-shadow: -5px 5px 0px 0px #3ab49394;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translate(5px, -5px);
	transition: all 0.3s linear;
}
.form-box form .send-message:hover {
	box-shadow: 0px 0px #3ab49394;
	transform: translate(0, 0);
}
.form-box form .send-message #send-message {
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 0;
	margin: 0;
	text-align: center;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s linear;
	transition-delay: 0.5s;
	cursor: pointer;
	color: #fff;
}
.form-box form .send-message .hidden {
	width: 0 !important;
	opacity: 0 !important;
	visibility: hidden !important;
}
.form-box form .send-message .send-loading {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	transform: rotate(180deg);
	opacity: 1;
	visibility: visible;
	transition: all 0.5s linear;
	transition-delay: 0.5s;
	cursor: progress;
}

@keyframes arrows {
	0%,
	100% {
		color: #3ab493;
		transform: translateY(-5px);
	}
	50% {
		color: #ffffff;
		transform: translateY(5px);
	}
}

.send-loading span {
	--delay: 0s;
	animation: arrows 1s var(--delay) infinite ease-in;
}

.contact-info {
	min-height: 40%;
}
.contact-info-box {
	position: relative;
}
.contact-info-box .box {
	display: flex;
	position: relative;
	padding: 20px 0;
}
.contact-info-box .box .icon {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: 40px;
	padding-top: 4px;
	color: #fff;
	font-size: 24px;
}
.contact-info-box .box .icon a {
	color: #fff;
	text-decoration: none;
}
.contact-info-box .box .text {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	margin-left: 20px;
	font-weight: 300;
	color: #fff;
}
.contact-info-box .box .text h3 {
	font-weight: 500;
	color: #3ab493;
	margin-bottom: 0;
}

/* ------------------------------COPYRIGHT */
.copyright {
	background: black;
	color: #fff;
	padding: 10px;
	text-align: center;
}

/* ============================================================================================================== */
/* ----------------------------------RESPONSIVE------------------------------------------------------------------ */
/* ============================================================================================================== */
@media (max-width: 1024px) {
	.work .content-slide {
		width: 563px;
		height: 320px;
	}
}
@media (max-width: 991px) {
	header,
	header.sticky {
		padding: 20px 50px;
		z-index: 1000;
	}
	.menu {
		position: fixed;
		top: 80px;
		right: -100%;
		display: block;
		padding: 60px 50px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background: #fff;
		transition: 0.5s;
		z-index: 999;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
	}
	.menu.active {
		right: 0;
	}
	header ul li a {
		color: #111;
		font-size: 24px;
		margin: 10px;
	}
	header ul li a:active {
		background: yellowgreen;
	}
	header.sticky .toggle {
		filter: invert(0);
	}
	.toggle {
		width: 40px;
		height: 40px;
		background: url(/assets/img/icon/menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
		transition: 0.2s;
		filter: invert(1);
	}
	.toggle.active {
		background: url(/assets/img/icon/close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25px;
		cursor: pointer;
		transition: 0.2s;
		filter: invert(1);
	}
	section {
		padding: 100px 50px;
	}
	.banner {
		padding: 150px 50px 100px;
	}
	.banner h2 {
		font-size: 1.5em;
	}
	.banner h3 {
		font-size: 1em;
	}
	.btn {
		margin-top: 10px;
		padding: 10px 20px;
		font-size: 16px;
	}
	.btn:active {
		background-color: rgb(157, 235, 2);
	}
	.heading h2 {
		font-weight: 24px;
	}
	.content {
		flex-direction: column;
	}
	.content-box h3 {
		font-size: 20px;
	}
	.w50 {
		margin-bottom: 20px;
	}
	.skill .content .skill-box {
		margin: 10px;
	}
	.work .content .work-box {
		width: 100%;
		padding: 0 0 10px 0;
	}
	.testimonials .content .testimonials-box {
		max-width: calc(100% - 0px);
		padding: 20px 20px;
		margin: 0 0 10px 0;
	}
	.testimonials .content .testimonials-box h3 {
		margin-top: 10px;
	}
}
@media (max-width: 620px) {
	.work .content-slide {
		width: 100%;
		height: 20vh;
		min-height: 250px;
	}
}
@media (max-width: 562px) {
	.banner .blur {
		right: -250px;
	}
}
